.purple {
  background-color: rgb(86, 43, 129);
}

h2 {
  margin: 0;
}

.padding {
  padding: 10px;
}

.color-white {
  color: white;
}

.font-family {
  font-family: "Open Sans", sans-serif;
}

.font-weight {
  font-weight: 400;
}

.proza-libre {
  font-family: "proza libre", sans-serif;
}

img {
  width: 100%;
}

.border-radius {
  border-radius: 5px;
}

.margin-top-and-bottom {
  margin: 1rem 0 5px;
}

input {
  width: 100%;
  padding: 0.4rem;
  border-radius: 5px;
  border: solid 1px rgb(195, 195, 195);
  outline-color: rgb(86, 43, 129);
}

label {
  font-family: "proza libre", sans-serif;
  font-weight: 700;
}

textarea {
  width: 100%;
  border-radius: 5px;
  border: solid 1px rgb(195, 195, 195);
  resize: none;
  outline-color: rgb(86, 43, 129);
  font-family: "Open Sans", sans-serif;
}

.text-align-end {
  text-align: end;
}

button {
  padding: 7px 12px;
  font-family: "proza libre", sans-serif;
  font-weight: 500;
  border: none;
  text-transform: uppercase;
  background-color: rgb(86, 43, 129);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.display-block {
  display: block;
}

.white-smoke {
  background-color: whitesmoke;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.margin-right {
  margin-right: 1rem;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

p {
  line-height: 1.7rem;
}

.justify-content-space-around {
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.margin {
  margin: 3rem 0;
}

.text-align-center {
  text-align: center;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  right: 0;
  cursor: pointer;
}

.color-purple {
  color: rgb(86, 43, 129);
}

.delete {
  color: red;
  text-decoration: underline;
  border: none;
  background-color: whitesmoke;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.visibility-hidden {
  visibility: hidden;
}

.cancel {
  background-color: #b6b6b6;
  color: #292929;
}

.confirm {
  background-color: #dc2626;
}

.padding-top-and-bottom {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.padding-top {
  padding-top: 1rem;
}

.confirm-delete-text {
  font-size: 0.8rem;
  font-weight: 600;
}

.cancel-button-container {
  padding-left: 1rem;
  text-align: start;
  padding-bottom: 1rem;
}

.confirm-button-container {
  padding-right: 1rem;
}
